<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="template">
<body>
<section layout:fragment="content">

    <!-- about -->
    <section class="about-2 py-5">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center" th:text="#{aboutUs}">About Us</h3>
            <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{aboutUsMore}">aboutUsMore</p>
            <div class="row">
                <div class="col-lg-6 about-left-inner">
                    <h3 th:text="#{tittle}">tiitle</h3>
                    <p class="mt-4" th:text="#{quoteAbout}">quoteAbout</p>
                </div>
                <div class="col-lg-6 about-right-inner text-center mt-lg-0 mt-5">
                    <img th:src="@{/images/mix.jpg}" alt="mix" class="img-fluid img-border"/>
                </div>
            </div>

        </div>
    </section>
    <!-- //about -->

    <!-- team -->
    <section class="team py-5" id="team">
        <div class="container pb-xl-5 pb-lg-3">
            <h3 class="tittle text-center" th:text="#{weAre}">Our Team</h3>
            <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{weAreAbout}">we are more</p>
            <div class="row team-grid">
                <div class="col-lg-3 col-sm-6">
                    <div class="box13">
                        <img th:src="@{/images/aga.jpg}" class="img-fluid img-thumbnail" alt=""/>
                        <div class="box-content">
                            <h3 class="title">Agnieszka</h3>
                            <span class="post" th:text="#{roleDekoratorka}">Role</span>
                            <ul class="social">
                                <li><a th:href="@{https://www.instagram.com/little_deco_things/}" target="_blank"><span
                                        class='fab fa-instagram'></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="box13">
                        <img th:src="@{/images/karola.jpg}" class="img-fluid img-thumbnail" alt=""/>
                        <div class="box-content">
                            <h3 class="title">Karolina</h3>
                            <span class="post" th:text="#{roleDekoratorka}">Role</span>
                            <ul class="social">
                                <li><a th:href="@{https://www.instagram.com/kajjakowa/}" target="_blank"><span
                                        class='fab fa-instagram'></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="box13">
                        <img th:src="@{/images/paweł.jpg}" class="img-fluid img-thumbnail" alt=""/>
                        <div class="box-content">
                            <h3 class="title">Paweł</h3>
                            <span class="post" th:text="#{roleHelper}">Role</span>
                            <ul class="social">
                                <li><a th:href="@{https://www.instagram.com/panbrelok/}" target="_blank"><span
                                        class='fab fa-instagram'></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="box13">
                        <img th:src="@{/images/wafel.jpg}" class="img-fluid img-thumbnail" alt=""/>
                        <div class="box-content">
                            <h3 class="title">Wafel</h3>
                            <span class="post" th:text="#{roleDog}">Role</span>
                            <ul class="social">
                                <li><a th:href="@{https://www.instagram.com/the_mr_wafel/}" target="_blank"><span
                                        class='fab fa-instagram'></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->

</section>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right text-center py-3">
    <p>© 2019 Natural. All rights reserved | Design by
        <a href="http://w3layouts.com"> W3layouts.</a>
    </p>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-chevron-circle-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->


</body>

</html>