<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">

<body>
<section layout:fragment="content">
    <!-- home -->

    <!-- about -->
    <section class="about py-5">
        <div class="py-xl-5 py-lg-3">
            <div class="d-xl-flex about-grids">
                <div class="col-xl-4 about-left p-0">
                    <img th:src="@{/images/candy_bar.jpg}" alt="" class="img-fluid"/>
                </div>
                <div class="col-xl-8 about-right border-bottom">
                    <h3 class="mb-3" th:text="#{tittleArticle1}">First thing</h3>
                    <p class="article" th:text="#{article1}">firstThingAbout</p>
                    <button class="buttonsMore" th:text="#{more}">Learn More</button>
                </div>
            </div>
            <div class="d-xl-flex about-grids flex-row-reverse">
                <div class="col-xl-4 about-left p-0">
                    <img th:src="@{/images/candy_bar.jpg}" alt="" class="img-fluid"/>
                </div>
                <div class="col-xl-8 about-right border-bottom">
                    <h3 class="mb-3" th:text="#{tittleArticle2}">Second thing</h3>
                    <p class="article" th:text="#{article2}">secondThingAbout</p>
                    <button class="buttonsMore" th:text="#{more}">Learn More</button>
                </div>
            </div>
            <div class="d-xl-flex about-grids">
                <div class="col-xl-4 about-left p-0">
                    <img th:src="@{/images/candy_bar.jpg}" alt="" class="img-fluid"/>
                </div>
                <div class="col-xl-8 about-right">
                    <h3 class="mb-3" th:text="#{tittleArticle3}">Third thing</h3>
                    <p class="article" th:text="#{article3}">thirdThingAbout</p>
                    <button class="buttonsMore" th:text="#{more}">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
</section>
</body>

</html>