<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Kwiaty w Lesie</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Natural Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
    <!-- //Web-Fonts -->

    <!-- icon to html -->
    <script src="https://kit.fontawesome.com/d2ab83011e.js"></script>
</head>

<body>
<!-- home -->
<div id="home">
    <!-- banner -->
    <div class="banner_w3lspvt">
        <!-- nav -->
        <div class="nav_w3ls pt-4 pb-3 text-center">
            <nav>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop"/>
                <ul class="menu">
                    <li><a th:href="@{/}">Strona główna</a></li>
                    <li><a th:href="@{/about}">O nas</a></li>
                    <li><a href="#services">Usługi</a></li>
                    <li><a href="#gallery">Galeria</a></li>
                    <li><a th:href="@{/blog}">Blog</a></li>
                    <li><a th:href="@{/contact}">Kontakt</a></li>
                </ul>
            </nav>
        </div>
        <!-- //nav -->
        <!-- banner slider -->
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3ls-1">

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3ls-2">

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3ls-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
            <!-- banner-text -->
            <div class="banner-text">
                <fieldset>
                    <legend>
                        <p class="logo" th:text="#{tittle}">Tittle</p>
                    </legend>
                    <div class="banner-sub-txt">
                        <h1 class="banner-txt" th:text="#{subtittle}">Subtittle</h1>
                        <p class="banner-txt1" th:text="#{mainText}">Main text</p>
                        <!--							<a href="about.html" class="btn button-style mt-5">Read More</a>-->
                    </div>
                </fieldset>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner slider -->
    </div>
    <!-- //banner -->
</div>
<!-- //home -->

<!-- about -->
<section class="about py-5">
    <div class="py-xl-5 py-lg-3">
        <div class="d-xl-flex about-grids">
            <div class="col-xl-4 about-left p-0">
                <img th:src="@{/images/sala_2.jpg}" alt="" class="img-fluid"/>
            </div>
            <div class="col-xl-8 about-right border-bottom">
                <h3 class="mb-3" th:text="#{firstThing}">First thing</h3>
                <p class="mb-3" th:text="#{firstThingAbout}">firstThingAbout</p>
<!--                <a href="#" class="btn button-style-3" th:text="#{more}">Learn More</a>-->
            </div>
        </div>
        <div class="d-xl-flex about-grids flex-row-reverse">
            <div class="col-xl-4 about-left p-0">
                <img th:src="@{/images/gift.jpg}" alt="" class="img-fluid"/>
            </div>
            <div class="col-xl-8 about-right border-bottom">
                <h3 class="mb-3" th:text="#{secondThing}">Second thing</h3>
                <p class="mb-3" th:text="#{secondThingAbout}">secondThingAbout</p>
<!--                <a href="#" class="btn button-style-3" th:text="#{more}">Learn More</a>-->
            </div>
        </div>
        <div class="d-xl-flex about-grids">
            <div class="col-xl-4 about-left p-0">
                <img th:src="@{/images/love.jpg}" alt="" class="img-fluid"/>
            </div>
            <div class="col-xl-8 about-right">
                <h3 class="mb-3" th:text="#{thirdThing}">Third thing</h3>
                <p class="mb-3" th:text="#{thirdThingAbout}">thirdThingAbout</p>
<!--                <a href="#" class="btn button-style-3" th:text="#{more}">Learn More</a>-->
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- services -->
<section class="services text-center py-5" id="services">
    <div class="container">
        <h3 class="tittle text-center" th:text="#{services}">Our Services</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{servicesMore}">More about services</p>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class='fas fa-edit'></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service1}">Service 01</h5>
                    <p class="serp" th:text="#{service1about}">service1about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class="far fa-address-card"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service2}">Service 02</h5>
                    <p class="serp" th:text="#{service2about}">service2about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class="fas fa-shield-alt"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service3}">Service 03</h5>
                    <p class="serp" th:text="#{service3about}">service3about</p>
                </div>
            </div>
        </div>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class="fa fa-gift"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service4}">Service 04</h5>
                    <p class="serp" th:text="#{service4about}">service4about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class="fas fa-dove"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service5}">Service 05</h5>
                    <p class="serp" th:text="#{service5about}">service5about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree">
                <div class="icon">
                    <span class="fas fa-gopuram"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service6}">Service 06</h5>
                    <p class="serp" th:text="#{service6about}">service6about</p>
                </div>
            </div>
        </div>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3ls-wthree border-bottom-0 bottom-res-w3ls">
                <div class="icon">
                    <span class="fas fa-spa"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service7}">Service 07</h5>
                    <p class="serp" th:text="#{service7about}">service7about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree  border-bottom-0 bottom-res-w3ls">
                <div class="icon">
                    <span class="fas fa-scroll"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service8}">Service 08</h5>
                    <p class="serp" th:text="#{service8about}">service8about</p>
                </div>
            </div>
            <div class="col-md-4 ser-w3ls-wthree border-bottom-0">
                <div class="icon">
                    <span class="fas fa-sun"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5 th:text="#{service9}">Service 09</h5>
                    <p class="serp" th:text="#{service9about}">service9about</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- gallery -->
<div class="gallery py-5 text-center" id="gallery">
    <div class="py-xl-5 py-lg-3">
        <h3 class="tittle text-center" th:text="#{gallery}">Our Gallery</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{galleryAbout}">about gallery</p>
        <div class="row no-gutters">
            <div class="col-md-3 gal-img">
                <a th:href="@{/#1(id=9)}"><img th:src="@{/images/paleta_mała.jpg}" alt="Gallery Image"
                                               class="img-fluid"></a>
            </div>
            <div class="col-md-3 gal-img">
                <a th:href="@{/#2(id=4)}"><img th:src="@{/images/paleta_duża.jpg}" alt="Gallery Image"
                                               class="img-fluid"></a>
            </div>
            <div class="col-md-3 gal-img">
                <a href="#3"><img th:src="@{/images/mały_bukiet.jpg}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-3 gal-img">
                <a href="#4"><img th:src="@{/images/kwiatek_love.jpg}" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3 gal-img m-auto">
                <a href="#5"><img th:src="@{/images/spiewnik.jpg}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-3 gal-img m-auto">
                <a href="#6"><img th:src="@{/images/mjsłodka.jpg}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-3 gal-img m-auto">
                <a href="#7"><img th:src="@{/images/table.jpg}" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <!-- gallery popups -->
        <!-- popup-->
        <div id="1" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/paleta_mała.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_1(${productToRent.description})}">image_1</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="2" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/paleta_duża.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_2(${productToRent.description})}">image_2</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="3" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/mały_bukiet.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_3(${productToRent.description})}">image_3</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="4" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/kwiatek_love.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_4(${productToRent.description})}">image_4</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="5" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/spiewnik.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_5(${productToRent.description})}">image_5</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="6" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/mjsłodka.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_6(${productToRent.description})}">image_6</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <div id="7" class="pop-overlay animate">
            <div class="popup">
                <img th:src="@{/images/table.jpg}" alt="Popup Image" class="img-fluid"/>
                <!--                <p class="mt-4" th:text="#{image_7(${productToRent.description})}">image_7</p>-->
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- //gallery popups -->
    </div>
</div>
<!-- //gallery -->

<!--	&lt;!&ndash; testimonials &ndash;&gt;-->
<!--	<section class="testimonials py-5 bg-li" id="testi">-->
<!--		<div class="container py-xl-5 py-lg-3">-->
<!--			<h3 class="tittle text-center">Testimonials</h3>-->
<!--			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et-->
<!--				dolore-->
<!--				magna-->
<!--				aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
<!--			<div class="row text-center mt-4">-->
<!--				<div class="col-lg-4 test-info">-->
<!--					<p><span class="fa fa-quote-left mr-1"></span> Lorem Ipsum has been the industry's standard since-->
<!--						the-->
<!--						1500s. Praesent ullamcorper dui turpis.Nulla non laoreet eleifend. <span-->
<!--							class="fa fa-quote-right ml-1"></span></p>-->
<!--					<div class="test-img mb-3">-->
<!--						<img src="../static/images/te2.jpg" class="img-fluid" alt="user-image">-->
<!--					</div>-->
<!--					<h3 class="my-md-2 my-3">Jenifer Burns</h3>-->
<!--					<ul class="list-unstyled w3layouts-icons">-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star-half-o"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-lg-4 test-info mt-lg-0 mt-5">-->
<!--					<p><span class="fa fa-quote-left mr-1"></span> Lorem Ipsum has been the industry's standard since-->
<!--						the-->
<!--						1500s. Praesent ullamcorper dui turpis.Nulla non laoreet eleifend. <span-->
<!--							class="fa fa-quote-right ml-1"></span></p>-->
<!--					<div class="test-img mb-3">-->
<!--						<img src="../static/images/te3.jpg" class="img-fluid" alt="user-image">-->
<!--					</div>-->
<!--					<h3 class="my-md-2 my-3"> Abraham Smith</h3>-->
<!--					<ul class="list-unstyled w3layouts-icons">-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star-half-o"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-lg-4 test-info mt-lg-0 mt-5">-->
<!--					<p><span class="fa fa-quote-left mr-1"></span> Lorem Ipsum has been the industry's standard since-->
<!--						the-->
<!--						1500s. Praesent ullamcorper dui turpis.Nulla non laoreet eleifend. <span-->
<!--							class="fa fa-quote-right ml-1"></span></p>-->
<!--					<div class="test-img mb-3">-->
<!--						<img src="../static/images/te1.jpg" class="img-fluid" alt="user-image">-->
<!--					</div>-->
<!--					<h3 class="my-md-2 my-3">Jenifer Burns</h3>-->
<!--					<ul class="list-unstyled w3layouts-icons">-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-star-half-o"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!--	&lt;!&ndash; //testimonials &ndash;&gt;-->

<!-- middle section -->
<div class="text py-5 text-center">
    <div class="container py-xl-5 py-lg-3">
        <div class="row py-4">
            <div class="col-md-12">
                <h5 class="text-wh text-capitalize font-weight-bold let mb-4" th:text="#{quote}">quote</h5>
                <p th:text="#{quoteAbout}">quote About</p>
                <div class="text-center mt-sm-5 mt-4">
                    <a th:href="@{/about}" class="mr-2 work btn" th:text="#{more}">Read More</a>
                    <a th:href="@{/contact}" class="work btn" th:text="#{contact}">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //middle section -->

<!-- footer -->
<footer class="footer-sec-w3layouts py-5 ">
    <div class="container py-xl-5 py-lg-3">
        <div class="row pb-3">
            <div class="col-xl-5 col-md-6 footer-left-info text-left">
                <div class="logo-footer">
                    <h2>
                        <img th:src="@{/images/logo.png}" alt="logo" class="img-fluid"/>
                    </h2>
                </div>
                <p class="mt-lg-5 mt-4">
                </p>
            </div>
            <div class="col-md-6 footer-right-info text-right offset-xl-1 mt-md-0 mt-5">
                <h6 th:text="#{tittle}">Tittle</h6>
                <!--                <address class="ad-info mt-lg-5 mt-4">Agnieszka Pradelok-->
                <!--                    <br>-->
                <!--                    <a href="tel:+48783272511">783-272-511</a>-->
                <!--                </address>-->
            </div>
        </div>
        <!-- social icons -->
        <div class="social-icons-footer social-w3pvt-footer border-top text-center pt-md-5 pt-4 mt-md-5 mt-4">
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{https://www.facebook.com/agnieszka.rybicka.9}" target="_blank">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{https://www.instagram.com/kwiaty_w_lesie/}" target="_blank">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //social icons -->
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right text-center py-3">
    <p>© 2019 Natural. All rights reserved | Design by
        <a href="http://w3layouts.com"> W3layouts.</a>
    </p>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-chevron-circle-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->

</body>

</html>