<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="template">
<head>
    <title>Kwiaty w Lesie - dziękujemy za kontakt!</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Natural Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
    <!-- //Web-Fonts -->

    <!-- icon to html -->
    <script src="https://kit.fontawesome.com/d2ab83011e.js"></script>

</head>

<body>
<section layout:fragment="content">
<!-- about -->
<section class="about-2 py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center" th:text="#{formMain}">About Us</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{formMainMore}">aboutUsMore</p>
        <div class="row">
            <!--            <div class="col-lg-6 about-left-inner">-->
            <!--                <h3 th:text="#{tittle}">tiitle</h3>-->
            <!--                <p class="mt-4" th:text="#{quoteAbout}">quoteAbout</p>-->
            <!--            </div>-->
            <!--            <div class="col-lg-6 about-right-inner text-center mt-lg-0 mt-5">-->
            <img th:src="@{/images/thankyou.png}" alt="thankyou" class="img-fluid img-border"/>
            <!--            </div>-->
        </div>

    </div>
</section>
<!-- //about -->
</section>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-chevron-circle-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->


</body>

</html>