<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="template">

<body>
<section layout:fragment="content">
<!-- about -->
<section class="about-2 py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center" th:text="#{formMain}">About Us</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4" th:text="#{formMainMore}">aboutUsMore</p>
        <div class="row">
            <!--            <div class="col-lg-6 about-left-inner">-->
            <!--                <h3 th:text="#{tittle}">tiitle</h3>-->
            <!--                <p class="mt-4" th:text="#{quoteAbout}">quoteAbout</p>-->
            <!--            </div>-->
            <!--            <div class="col-lg-6 about-right-inner text-center mt-lg-0 mt-5">-->
            <img th:src="@{/images/thankyou.png}" alt="thankyou" class="img-fluid img-border"/>
            <!--            </div>-->
        </div>

    </div>
</section>
<!-- //about -->
</section>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-chevron-circle-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->


</body>

</html>